.list-block.general-information .item-content{
    padding-left: 15px;
}

#selectSportDetails{
	border: 0;
	color: #FFF;
	width: auto;
	font-size: 17px;
	font-weight: 500;
	white-space: normal;
	line-height: 22px;
	appearance:none;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
	background: transparent url("../../img/template/icon-down.png") no-repeat scroll right 7px;
	background-size: 18px 18px;
	width: 120px;
	padding: 5px;
	padding-bottom: 2px;
}

#imgHeaderSportDetails{
	height: 230px;
	width: auto;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}


.theme-white .button.active:not(.button-fill) {
    background-color: #fff;
    color: #1A9AD9;
}

.subnavbar{
	background: #1A9AD9;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

#titleSportDetails{
	color: #000000;
	font-size: 16px;
	font-weight: bold;
}

#shortcontentSportDetails{
	color: #000000;
}

#descriptionSportDetails{
	color: #000000;
	text-align: justify;
}

.imgNewsSportDetails{
	width: 80px;
	height: 50px;
	font-size: 9px;
	text-align: justify;
}

.imgTournamentsSportDetails{
	width: 50px;
	height: 50px;
}

.divContainerUpload{
	text-align: center;
}

#divSportLastNewsErrorHeader{
	font-size: 20px;
	text-align: center;
}

#divSportCoordinatorsErrorHeader{
	font-size: 20px;
	text-align: center;
}

#divSportLastNewsErrorText{
	padding: 10px 20px 20px;
	text-align: center;
	color: #808080;
}

.divImgsSportError{
	text-align: center;
}

.imgSportUpload{
	height: auto;
	max-width: 120px;
}

.list-block .item-content {
	width: 100%;
}

.imgProfileCoordinator{
	width: 50px;
	height: 50px;
	font-size: 12px;
}

.divConnectionErrorHeader{
	font-size: 20px;
	text-align: center;
}

.divConnectionErrorText{
	padding: 10px 20px 20px;
	text-align: center;
	color: #808080;
}

.divImgConnectionError{
	text-align: center;
}

.imgUploadConnectionError{
	height: auto;
	max-width: 120px;
}

#noConnection-content-block-sportdetails{
	display: none;
}

/* ############################################################### */
/* ##################### Tab Tournaments ########################## */
/* ############################################################### */

.list-block.lastmatch-tournaments .item-content{
    padding-left: 0px;
}

#row-lastmatch-tournament{
	width: 100%;
	padding: 7px;
}

#row-lastmatch-tournament .col-lastmatch-tournament{
	text-align: center;
}

#row-lastmatch-tournament .col-lastmatch-tournament-middle{
	margin-top: 7px;
}

#row-lastmatch-tournament .col-lastmatch-tournament .col-lastmatch-tournament-team{
	padding-bottom: 5px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	font-size: 15px;
	font-weight: 700;
}

#row-lastmatch-tournament .col-lastmatch-tournament .col-lastmatch-tournament-result{
	border: 3px solid rgb(0, 0, 0);
	color: #000000;
	background-color: #FFFFFF;
	margin: 0px auto;
	max-width: 130px;
}

#row-lastmatch-tournament .col-lastmatch-tournament .col-lastmatch-tournament-result p{
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 20px;
	font-weight: 700;
}


#row-lastmatch-tournament .col-lastmatch-tournament .col-lastmatch-tournament-name{
	font-size: 13px;
	font-weight: 700;
}

#row-lastmatch-tournament .col-lastmatch-tournament .col-lastmatch-tournament-date{
	font-size: 13px;
}

#row-lastmatch-tournament .col-lastmatch-tournament .col-lastmatch-tournament-live{
	font-size: 15px;
	font-weight: 700;
}

#row-lastmatch-tournament .col-lastmatch-tournament .col-lastmatch-tournament-nametournament{
	font-size: 13px;
}

.img-shield-lastmatch{
	width: 60px;
	height: 60px;
	padding-top: 5px;
}

.description-lastmatch-tournament{
	color: rgb(142, 142, 147);
	font-size: 13px;
	line-height: 15px;
	text-align: justify;
	padding: 7px;
}