#containerNameEventDetails {
    text-align: center;
}

#pNameEventDetails {
    color: #000;
    font-size: 16px;
    font-weight: bold;
}

.row-eventdetails-page {
  margin-bottom: 15px;
  text-align: center;
}

.row-eventdetails-page .col-50{
	height: 130px;
}

.table-eventdetails-page{
	width: 100%;
	height: 100%;
	color: #000000;
	border-collapse: separate;
	border-spacing: 0 7px;
	
}

.table-eventdetails-page tr{
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
	background: #FFF none repeat scroll 0% 0%;
}

.table-eventdetails-page td{
	text-align: left;
	padding-left: 10px;
}

#placeEventDetails{
	width: 100%;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
	background: #FFF none repeat scroll 0% 0%;
	color: #000000;
	padding: 5px 0px 5px 0px;
	text-align: center;
}

#placeEventDetails #placeTextEventDetails{
	padding-left: 5px;
	padding-right: 5px;
}


#imgHeaderEventDetails {
    width: 100%;
    height: 100%;
}

#descriptionEventDetails{
	color: #000;
    text-align: justify;
}