#page-update{
	z-index: 9999;
}

#page-update .content-block{
	text-align: center;
	margin: 0px 0px;
	height: 100%;
}


.imgCloudUpdate {
    height: 200px;
    width: auto;
    margin-top: 40px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#pFirstUpdate{
	margin-bottom: 40px;
}

#button-update-page{
	color: #fff;
	background: #484C4D;
	border: none;
	height: 55px;
	line-height: 50px;
}