/* *********************************************** */
/* ******************* GENERAL ******************* */
/* *********************************************** */

.navbar::after,
.navbar 
{
    background-color: #00a706;
}

.theme-lenguajesport a {
    color: #000000;
}

.swiper-pagination.color-blue .swiper-pagination-bullet-active, 
.theme-lenguajesport .swiper-pagination .swiper-pagination-bullet-active 
{
    background-color: #00a706;
}

.photo-browser .navbar 
{
    background: #00a706 none repeat scroll 0 0;
}

.modal-title
{
	color: #00a706;
}

.modal-button
{
	color: #00a706;
}

.popover-inner ul li a .row
{
	color: #00a706;
}


/* **************************************************** */
/* ******************* MENU LATERAL ******************* */
/* **************************************************** */

.panel.panel-left
{
    background-color: #00a706;
}

.green-white .panel.panel-left{
    background-color: white;
    color: grey;
}


.activeStateMenu {
    background-color: black;
}
.green-white .activeStateMenu {
    border: none;
    border-left: 3px solid #00a706;
    background-color: white;
    font-weight: bold;
}

.green-white .fa.fa-home {
    color: grey;
}

/* .panel.panel-left .list-block ul::before,
.panel.panel-left .list-block ul::after,
.panel.panel-left .list-block .item-inner::after
{
	background-color: black;
} */

#lblMnuTitle
{
	color: white;
}


/* ********************************************************* */
/* ******************** Page: #page-home ******************** */
/* ********************************************************* */



#page-home #divExistConnectionHome .content-block-title-home-fav 
{
    color: black;
    font-size: 20px;
    margin: 0px;
    padding: 8px;
    background-color: white;
}

#page-home #cardLastestNewsHome .card-header,
#page-home #cardLastestNewsHome .card-header #divLastestNewsHome
{
	background-color: white;
	color: black;
    font-size: 20px;
    /* margin: 0; */
    padding: 0px;
    /* box-shadow: 2px 5px 10px #888888; */
}

#page-home #last-news-list-block ul li .item-title
{
	color: #00a706;
}

#page-home #last-news-list-block ul li .item-title-row
{
	/* background-image:none; */
}

#page-home #last-news-list-block .list-block .item-inner::after 
{
    background-color: #00a706;
}

#page-home .row-home-page .col-50 
{
	background: RGBA(0, 0, 0, 0.78) none repeat scroll 0% 0%;
	color: #FFFFFF;
}

/*#divLastestNewsHome
{
    color: #1a9ad9;
    font-size: 15px;
    font-weight: 900;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.32);
}*/
    
    
/* ******************************************************* */
/* ******************* Page: #page-news ****************** */
/* ******************************************************* */

#page-news ul li a .item-title.item-title-new
{
	color: #00a706;
}


.card-header-home{
	display: block !important;
	text-align: center;
	color: #00a706;
	font-size: 16px;

    min-height: 44px;
    position: relative;
    padding: 10px 15px;
    box-sizing: border-box;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}


/* ****************************************************************** */
/* ************************ Page: #page-newdetails ****************** */
/* ****************************************************************** */

#page-newdetails #titleNewDetails
{
	color: #00a706;
}


/* ****************************************************************** */
/* ************************ Page: #page-newdetails ****************** */
/* ****************************************************************** */

#subnavbarSportDetails.subnavbar
{
    background: #00a706; none repeat scroll 0 0;
}

#subnavbarSportDetails .buttons-row a.button.active:not(.button-fill) 
{
    color: white;
    background-color:#00a706;
}
#subnavbarHomeDetails.subnavbar
{
    background: #00a706; none repeat scroll 0 0;
}

#subnavbarHomeDetails .buttons-row a.button.active:not(.button-fill)
{
    color: white;
    background-color:#00a706;
}
#subnavbarMatchDetails.subnavbar
{
    background: #00a706; none repeat scroll 0 0;
}

#subnavbarMatchDetails .buttons-row a.button.active:not(.button-fill)
{
    color: white;
    background-color:#00a706;
}

#page-sportdetails #tabs-sportdetails ul li a div.item-subtitle,
#page-sportdetails #tabs-sportdetails ul li a div.item-title { color: gray; }

.green-white #page-sportdetails #tabs-sportdetails ul li a div.item-title > .emphasis { color: #00a706; }
.green-white #page-sportdetails #tabs-sportdetails ul li a div.item-subtitle { color: #00a706; }


/* -------- SHADOW ------------*/


.subnavbar .buttons-row{ border-radius: 10px 10px 0 0; display: flex; padding: 0 20px; height: 100%; }
.subnavbar .buttons-row .button { flex: 1; margin-top: 10px; border: none; }
.subnavbar .buttons-row .button:first-child { border-radius: 20px 0px 0px 20px; }
.subnavbar .buttons-row .button:last-child { border-radius: 0px 20px 20px 0px; }

.green-white .subnavbar .buttons-row{ background-color: white; }
.green-white .subnavbar .buttons-row .button{ background-color: #f6f6f6; color: grey; }
.green-white .subnavbar .buttons-row .button.active{ background-color: #00a706; color: white; }

/* #subnavbarSportDetails .buttons-row{ border-radius: 10px 10px 0 0; display: flex; padding: 10px 20px; }
#subnavbarSportDetails .buttons-row .button { border-radius: 10px 10px 10px 10px; flex: 1; margin-right: 10px; }
#subnavbarSportDetails .buttons-row .button:last-child { margin-right: 0px; }

#subnavbarHomeDetails .buttons-row{ border-radius: 10px 10px 0 0; display: flex; padding: 10px 20px; }
#subnavbarHomeDetails .buttons-row .button { border-radius: 10px 10px 10px 10px; flex: 1; margin-right: 10px; }
#subnavbarHomeDetails .buttons-row .button:last-child { margin-right: 0px; }

#subnavbarMatchDetails .buttons-row{ border-radius: 10px 10px 0 0; padding: 10px 20px; }
#subnavbarMatchDetails .buttons-row .button { border-radius: 10px 10px 10px 10px; flex: 1; margin-right: 10px; }
#subnavbarMatchDetails .buttons-row .button:last-child { margin-right: 0px; } */
/* 
#subnavbarSportDetails .buttons-row .button:not(.button-fill), 
#subnavbarSportDetails .buttons-row .buttons-row .button, 
#subnavbarSportDetails .buttons-row .button:not(.button-fill) 
{
    border-color: black;
    background-color: black;
}
#subnavbarHomeDetails .buttons-row .button:not(.button-fill),
#subnavbarHomeDetails .buttons-row .buttons-row .button,
#subnavbarHomeDetails .buttons-row .button:not(.button-fill)
{
    border-color: black;
    background-color: black;
}
#subnavbarMatchDetails .buttons-row .button:not(.button-fill),
#subnavbarMatchDetails .buttons-row .buttons-row .button,
#subnavbarMatchDetails .buttons-row .button:not(.button-fill)
{
    border-color: black;
    background-color: black;
} */

#tabSportDetails1 .card-header::after 
{
	/*background-color: #FFFFFF;*/
}

#tabSportDetails1 .list-block .item-inner::after 
{
	/*background-color: #FFFFFF;*/
}


/* ****************************************************************** */
/* ************************ Page: #page-activities ****************** */
/* ****************************************************************** */

#page-activities #activities-list .card-activity-content .card-header.card-header-title
{
	color: #00a706;
}

#page-activities #activities-list  .card-header::after 
{
    background-color: black;
    border: 1px solid black;
}

/* *********************************************************************** */
/* ************************ Page: #page-activitydetails ****************** */
/* *********************************************************************** */

#subnavbarActivityDetails.subnavbar
{
    background: #00a706; none repeat scroll 0 0;
}

#subnavbarActivityDetails .buttons-row a.button.active:not(.button-fill) 
{
    color: white;
    background-color: #00a706;
}

#subnavbarActivityDetails .buttons-row .button {
    border-radius: 0;
}

.green-white #subnavbarActivityDetails .buttons-row .button:not(.button-fill),
.green-white #subnavbarActivityDetails .buttons-row .buttons-row .button,
.green-white #subnavbarActivityDetails .buttons-row .button:not(.button-fill)
{ border-color: #f6f6f6; background-color: #f6f6f6; }

#page-activitydetails .tabs ul li a div.item-subtitle,
#page-activitydetails .tabs ul li a div.item-title
{
	color: #00a706;
}

.color-blue i.icon, 
.theme-lenguajesport i.icon, 
i.icon.color-blue, 
i.icon.theme-lenguajesport 
{
    color: #00a706;
}

.navbar-inner-activitydetails .buttons-row .button
{
    border-radius: 0;
    border-color: black;
   /* background-color: black;*/
}

#tabs-activitydetails .card-header::after 
{
    /*background-color: #FFFFFF;*/
}

/* *********************************************************************** */
/* ***************************** Page: #page-events ********************** */
/* *********************************************************************** */

#page-events a.aEventDetails .card-event-content,
#page-events a.aEventDetails .row.row-events-page
{
	/* background-color: black; */
}

#page-events a.aEventDetails .card-footer.card-footer-event
{
	color: #00a706;
}

#page-events a.aEventDetails .card-footer::before
{
	background-color: #00a706;
}

#page-events a.aEventDetails .table-events-page
{
	color: white;
}

#page-events #events-content-block .table-events-page tr
{
	background-color: black;
}


/* *********************************************************************** */
/* ************************** Page: #page-eventdetails ******************* */
/* *********************************************************************** */

#page-eventdetails .row-eventdetails-page 
{
    /*background-color: black; */
}

#page-eventdetails .row-eventdetails-page .col-50 { /*padding-right: 7px;*/ }

#page-eventdetails .content-block #placeTextEventDetails,
/*#page-eventdetails div.content-block-title.content-block-title-custom.lblPhotoGallery,
#page-eventdetails div.content-block-title.content-block-title-custom.lblVideoGallery*/
{
    color: #00a706;
}

#page-eventdetails .table-eventdetails-page tr td
{
	background-color: black;
	color: white;
}


/* *********************************************************************** */
/* ***************************** Page: #page-about *********************** */
/* *********************************************************************** */

#page-about .list-block ul
{
	background-color: #00a706;
}

#page-about .list-block ul li
{
	color: white;
}

#page-about .list-block ul li a:active
{
	background-color: #00a706;
}

#page-about .list-block .item-inner::after 
{
    background-color: black;
}

/* *********************************************************************** */
/* ************************ Page: #page-installations ******************** */
/* *********************************************************************** */

#page-installations #installations-list .card.card-installations .card-content .item-title
{
	color: #00a706;
}

/* *********************************************************************** */
/* ******************** Page: #page-installationdetails ****************** */
/* *********************************************************************** */

#page-installationdetails .content-block-title.content-block-title-custom.lblPhotoGallery,
#page-installationdetails .content-block-title.content-block-title-custom.lblVideoGallery
{
	color: #00a706;
}


/* *********************************************************************** */
/* ************************** Page: #page-milestones ********************* */
/* *********************************************************************** */

#page-milestones #milestones-list .card.card-milestones ul li a .item-title
{
	color: #00a706;
}

/* *********************************************************************** */
/* ********************* Page: #page-milestonedetails ******************** */
/* *********************************************************************** */

#page-milestonedetails .content-block-title.content-block-title-custom.lblPhotoGallery,
#page-milestonedetails .content-block-title.content-block-title-custom.lblVideoGallery
{
	color: #00a706;
}

/* *********************************************************************** */
/* ************************ Page: #page-achievements ********************* */
/* *********************************************************************** */

#page-achievements #achievements-list .card.card-achievements ul li a .item-title
{
	color: #00a706;
}

/* *********************************************************************** */
/* ********************* Page: #page-achievementdetails ****************** */
/* *********************************************************************** */

#page-achievementdetails .content-block-title.content-block-title-custom.lblPhotoGallery,
#page-achievementdetails .content-block-title.content-block-title-custom.lblVideoGallery
{
	color: #00a706;
}

/* *********************************************************************** */
/* ************************* Page: #page-managers ************************ */
/* *********************************************************************** */

#page-managers #managers-list .card-managers-content a
{
	color: #00a706;
}

/* *********************************************************************** */
/* ************************** Page: #page-contact ************************ */
/* *********************************************************************** */

#page-contact #list-block-contact ul li .item-title.label
{
	color: #00a706;
}

/* *********************************************************************** */
/* ************************** Page: #page-sports ************************ */
/* *********************************************************************** */
#page-sports  #sports-list .list-block .item-inner::after 
{
    background-color: #00a706;
}

#page-sports  #sports-list .list-block ul::before 
{
    background-color: #EFEFF4;
}
#page-sports  #sports-list .list-block ul::after 
{
    background-color: #EFEFF4;
}

/*
MODIFICAR CON LOS COLORES CORRESPONDIENTES
*/

#row-lastmatch-tournament .col-lastmatch-tournament .col-lastmatch-tournament-result{
    border: none;
    border-radius: 15px;
    color: #FFFFFF;
    background-color: #00a706;
}

.table-tournaments .tr-header{
    background-color: #00a706;
    color: #FFFFFF;
}

.tr-header-home{
    background-color: #00a706;
    color: #FFFFFF;
    font-size: 14px;
}



/* *********************************************************************** */
/* ************************* Page: #page-dateslist *********************** */
/* *********************************************************************** */
#page-dateslist .button{
    border: 1px solid #00a706;
    color: #00a706;
    background-color: #FFFFFF;
}

#page-dateslist .table-datelist tr {
    border-bottom: 1px solid #00a706;
}

.interzonal-datelist {
    background: #F8E0E6;
}

.interzonal-label-datelist{
    color: blue;
    font-weight: bold;
}

/* *********************************************************************** */
/* ************************* Page: #page-positionstable *********************** */
/* *********************************************************************** */

#page-positionstable .table-positionstable tr {
    border-bottom: 1px solid #00a706;
}

/* *********************************************************************** */
/* ************************* Page: #page-shooterstable *********************** */
/* *********************************************************************** */

#page-shooterstable .table-shooterstable tr {
    border-bottom: 1px solid #00a706;
}

/*MODIFICAR HASTA ACA ARRIBA*/
/* *********************************************************************** */
/* ************************** Page: #page-settings ************************ */
/* *********************************************************************** */

#page-settings .list-block .item-inner::after 
{
    background-color: #00a706;
}

#page-settings .list-block ul::before 
{
    background-color: #00a706;
}


/* *********************************************************************** */
/* ********************* Page: #page-settingsfavourites ******************* */
/* *********************************************************************** */

label.label-checkbox input[type="checkbox"]:checked + .item-media i.icon-form-checkbox, label.label-checkbox input[type="radio"]:checked + .item-media i.icon-form-checkbox {
    background-color: #000000 !important;
}

#page-settingsfavourites #title-settings-favourites
{
	color: #00a706;
}

#page-settingsfavourites  #settingsfavourites-list .list-block .item-inner::after 
{
    background-color: #00a706;
}

#page-settingsfavourites  #settingsfavourites-list .list-block ul::before 
{
    background-color: #EFEFF4;
}

#page-settingsfavourites  #settingsfavourites-list .list-block ul::after 
{
    background-color: #EFEFF4;
}

.label-switch input[type="checkbox"]:checked + .checkbox {
    background: #00a706;
}

/* *********************************************************************** */
/* ****************** Page: #page-settingsnotifications ***************** */
/* *********************************************************************** */

#page-settingsnotifications #title-settings-notifications
{
	color: #00a706;
}

#page-settingsnotifications  #settingsnotifications-list .list-block .item-inner::after 
{
    background-color: #00a706;
}

#page-settingsnotifications  #settingsnotifications-list .list-block ul::before 
{
    background-color: #EFEFF4;
}

#page-settingsnotifications  #settingsnotifications-list .list-block ul::after 
{
    background-color: #EFEFF4;
}

/* *********************************************************************** */
/* ************************** Page: #page-user and login ************************ */
/* *********************************************************************** */

#lblLogoutButton {
    color: #00a706;
}

#lblSendButtonLogin {
    color: #00a706;
}

#resend-smscode {
    color: #00a706;
    font-size: 12px;
}

#lblSendSmsCodeButton{
    color: #00a706;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    font-size: 20px;
}

#lblSendButtonProfile {
    color: #00a706;
}


