#containerImgLogin {
    text-align: center;
}

.login-form {
        border-radius: 5px;
        padding: 20px;
}

.login-input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
    font-size: 15px;
}

.login-input-select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
    font-size: 15px;
    padding-left: 32%;
}

.login-input-label {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    font-size: 15px;
}

.login-button {
    padding: 0 15px;
    text-align: center;
    color: #007aff;
    display: block;
    line-height: 43px;
}