.card-achievements{
	margin: 13px 10px;
}

.card-achievements {
    box-shadow: none;
}

.card-achievements .card-content{
	box-shadow: 0 0 10px #c1c1c1 !important;
    border-radius: 6px;
}

.imgCardAchievement {
    width: 90px;
	height: 90px;
	font-size: 10px;
}

.content-block-title-achievements{
	text-align: center;
	font-size: 17px;
	margin: 15px 15px 10px;
}