.swiper-container-gallery-min {
	width: 100%;
	height: 200px;
	margin: 20px auto;
	margin-bottom: 120px;
}

.swiper-container-gallery-min .swiper-wrapper{
	height: 160px;
}

.swiper-container-gallery-min .swiper-wrapper .swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	width: 60%;
	
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	color: #FFFFFF;
}

.swiper-container-gallery-min .swiper-wrapper .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #FFF none repeat scroll 0% 0%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
}

.swiperGalleryPhotosImg{
	width: 100%;
	height: 100%;
}



#containerNameInstallationDetails {
    text-align: center;
}

#pNameInstallationDetails {
    color: #585858;
    font-size: 18px;
    font-family: "Montserrat-Semibold";
}

#containerImgHeaderInstallationDetail{
	text-align: center;
}

#imgHeaderInstallationDetails {
    width: 100%;
	height: auto;
}

#descriptionInstallationDetails{
	color: #919191;
    text-align: justify;
    font-family: Montserrat-Regular;
    font-size: 14px;
}

/* ############################################ Media Queries ######################################## */

@media only screen and (min-width : 320px) 
{
	#imgHeaderInstallationDetails {
	    width: 100%;
	    height: 160px;
	}
}
@media only screen and (min-width : 360px) 
{
	#imgHeaderInstallationDetails {
	    width: 100%;
	    height: 200px;
	}
}
@media only screen and (min-width : 480px) 
{
	#imgHeaderInstallationDetails {
	    width: 100%;
	    height: 270px;
	}
}
@media only screen and (min-width : 768px) 
{
	#imgHeaderInstallationDetails {
	    width: 100%;
	    height: 440px;
	}
}
@media only screen and (min-width : 960px) 
{
	#imgHeaderInstallationDetails {
	    width: 100%;
	    height: 490px;
	}
}


