.card-installations{
	margin: 13px 10px;
}

.card-installations {
    box-shadow: none;
}

.card-installations .card-content{
	box-shadow: 0 0 10px #c1c1c1 !important;
    border-radius: 6px;
}

.imgCardInstallation {
    width: 100px;
    height: 60px;
    font-size: 10px;
}