<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>341095560807-tba6ea08v6grk15vbm8dfuv57jvovls8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.341095560807-tba6ea08v6grk15vbm8dfuv57jvovls8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>341095560807-9qh4g2orn3js59i959re21pepl5ggi79.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBAM58Rgpe1Cfm8x23gz1QiYS_zkJP4Nko</string>
	<key>GCM_SENDER_ID</key>
	<string>341095560807</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lsc.ar.caba.villamalcolm</string>
	<key>PROJECT_ID</key>
	<string>lenguaje-sport</string>
	<key>STORAGE_BUCKET</key>
	<string>lenguaje-sport.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:341095560807:ios:d77b5de4c7350cab</string>
	<key>DATABASE_URL</key>
	<string>https://lenguaje-sport.firebaseio.com</string>
</dict>
</plist>