<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>341095560807-ba35nb5lorkuj4c82ltrhiiljpjf2ocn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.341095560807-ba35nb5lorkuj4c82ltrhiiljpjf2ocn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>341095560807-r4ir6r424f3k4aqqh4a1gtmgir2rb9bt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBAM58Rgpe1Cfm8x23gz1QiYS_zkJP4Nko</string>
	<key>GCM_SENDER_ID</key>
	<string>341095560807</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lse.ar.rosario.art</string>
	<key>PROJECT_ID</key>
	<string>lenguaje-sport</string>
	<key>STORAGE_BUCKET</key>
	<string>lenguaje-sport.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:341095560807:ios:3234c118e4d51526</string>
	<key>DATABASE_URL</key>
	<string>https://lenguaje-sport.firebaseio.com</string>
</dict>
</plist>