#page-content-settings .content-block{
	text-align: center;
	height: 100%;
	color: #6d6d72;
	padding: 0 15px;
}

#page-content-settings label.active-state
{
  -webkit-transition-duration: 0ms;
  transition-duration: 0ms;
  background-color: transparent !important;
}

#data-page-settings .left a + a{
	margin-left: 0px;
}

#btnBackPageSettings{
	
}

#btnMenuPageSettings{
	display: none;
}

#data-page-settings .right{
	width: 50px;
}

#page-content-settings .disciplines-list{

	
}

#buttonSaveFavouritesSettings{
	font-weight: 700;
	font-size: 14px;
	
}

#div-choosenot-initsettings{
	width: 100%;
	font-size: 22px;
	margin-bottom: 20px;
	text-align: center;
}

.label-checkbox-volume{
	margin-left: 10px;
}

.label-ckeckbox-half{
	width: 50% !important;
}

.icon-cbx-left{
	float: left !important;
}

.list-block .item-content-checkbox{
	padding-left: 30px;
}

#divSettingsErrorHeader{
	font-size: 20px;
	text-align: center;
}

#divSettingsErrorText{
	padding: 10px 20px 20px;
	text-align: center;
	color: #808080;
}

#divImgSettingsError{
	text-align: center;
}

#imgSettingsUpload{
	height: auto;
	max-width: 120px;
}


/*CHECKBOX*/

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}



.check_title img {
    width: 12px;
    height: 12px;
    margin: 0px 4px;
    vertical-align: middle;
}

.check_title {
    font-size: 18px;
    vertical-align: top;
    display: inline-block;
    margin-left: 5px;
}

.check_title div {
    display: inline-block;
}

.check {
    display: table;
    margin-top: 12px;
    font-family: arial;
    vertical-align: middle;
     padding-left: 25px;
}

.custom_check {
    width: 18px;
    height: 18px;
    border: 1px solid #ccc;
    border-radius: 2px;
    float: left;
    text-align: center;
    font-size: 12px;
    background: #f7f7f7;
    cursor: pointer;
    box-shadow: 0.3px 0.5px 4px 0px #b7b7b7;
}

.check_container {
    width: 100%;
   display:none;
}

.check * {
    box-sizing: border-box;
}


.check_arrow {
    cursor: pointer;
    margin-left: -15px;
    float: left;
    display:none;
	    padding: 3px;
    margin-top: -3px;
}

[data-expanded="1"] .check_arrow {
    transform: rotate(90deg);
}

[data-expanded="0"] .check_arrow {
    transform: rotate(0deg);
}



[data-enabled="1"] .check_arrow {
    display: block;
}

[data-enabled="0"] .check_arrow {
    display: none;
}

[data-expanded="1"] .check_container {
    display:block;
}

[data-expanded="0"] .check_container {
    display:none;
}

.custom_check .fa {
    display:none;
}
[data-enabled="0"] .check_container {
    display: none;
}

div#txt {
    border: 3px solid #ababab;
    margin: 5px;
    border-radius: 10px;
    padding: 16px;
    overflow: auto;
    height: 250px;
    margin-bottom: 50px;
}

button {
    float: right;
    margin-top: -10px;
    margin-right: 15px;
}

.img_title{
    float: left;
    margin-left: 5px;
}