#backgroundHeaderNewDetails{
	text-align: center;
	background-color: rgba(255, 255, 255, 0);
}

.imgHeaderNewDetails{
	width: 100%;
	height: auto;
}

#titleNewDetails{
	color: #000000;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}

#shortContentNewDetails{
	font-style: italic;
}

#dateNewDetails{
	font-size: 12px;
	margin: 0.4em 0px;
}

#contentNewDetails{
	color: #000000;
	text-align: justify;
}


.popover-share{
	width: 200px;
}

.row-share .col-33{
	text-align: center;
}

.row-share .col-66{
	text-align: left;
}

/*ADDED TO HIDE THE PUBLISHER*/
#publisherNewDetails {
    display: none;
}

/* ############################################ Media Queries ######################################## */

@media only screen and (min-width : 320px) 
{
	/*.imgHeaderNewDetails {
	    width: 100%;
	    height: 160px;
	}*/
}
@media only screen and (min-width : 360px) 
{
	/*.imgHeaderNewDetails {
	    width: 100%;
	    height: 200px;
	}*/
}
@media only screen and (min-width : 480px) 
{
	/*.imgHeaderNewDetails {
	    width: 100%;
	    height: 270px;
	}*/
}
@media only screen and (min-width : 768px) 
{
	/*.imgHeaderNewDetails {
	    width: 100%;
	    height: 440px;
	}*/
}
@media only screen and (min-width : 960px) 
{
	/*.imgHeaderNewDetails {
	    width: 100%;
	    height: 490px;
	}*/
}
