#noConnection-content-block-notifications{
	display: none;
}

#list-block-notifications{
	margin: 0px 0px;
}

#list-block-notifications li.notificationNoRead {
    background: #EEF4F9;
}

#list-block-notifications .item-after{
	font-size: 14px;
}

#divNotificationsErrorHeader{
	font-size: 20px;
	text-align: center;
}

#divNotificationsErrorText{
	padding: 10px 20px 20px;
	text-align: center;
	color: #808080;
}

#divImgNotificationsError{
	text-align: center;
}

#imgNotificationsUpload{
	height: auto;
	max-width: 120px;
}

.divNotLastestNotifications{
	padding: 10px 20px 20px;
	text-align: center;
}
