#page-unsupported .content-block{
	text-align: center;
	margin: 0px 0px;
	height: 100%;
}


.imgCloudUnsupported {
    height: 200px;
    width: auto;
    margin-top: 40px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#pFirstUnsupported{
	margin-bottom: 20px;
}

.button-unsupported-page{
	color: #fff;
	background: #484C4D;
	border: none;
	height: 55px !important;
	line-height: 50px !important;
	margin-bottom: 10px;
}

.button-unsupported-page.active-state, html:not(.watch-active-state) .button-unsupported-page.active{
	background: RGBA(72, 76, 77, 0.46) !important;
}