#list-block-sports {
    margin: 0px 0px;
}

#list-block-sports .item-content{
    padding-left: 5px;
}

#divSportsErrorHeader{
	font-size: 20px;
	text-align: center;
}

#divSportsErrorText{
	padding: 10px 20px 20px;
	text-align: center;
	color: #808080;
}

#divImgSportsError{
	text-align: center;
}

.divNotSports{
	padding: 10px 20px 20px;
	text-align: center;
	color: #808080;
}

#imgSportsUpload{
	height: auto;
	max-width: 120px;
}

.accordion-item-content-sport{
	padding-left: 20px;
}
