#popup-settingsfavourites{
	background-color: transparent;
	padding: 10%;
}

#popup-settingsfavourites .content-popup{
	height: auto;
	width: 270px;
	background: #e8e8e8;
	border-radius: 7px;
	position: absolute;
	z-index: 11000;
	left: 50%;
	margin-left: -135px;
	margin-top: -145px;
	top:50%;
}


#popup-settingsfavourites #headerPopupCustom{
	padding-top: 15px;
}

#popup-settingsfavourites .divMessagePopupContainer{
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-top: 5px;
	text-align: justify;
}

#popup-settingsfavourites .divMessagePopupContainer .fontContentMessage{
	
}

#popup-settingsfavourites .switchPopupCustom{
	padding: 10px;
	font-size: 13px;
	line-height: 1.3;
	border-style: solid;
	border-color: transparent transparent #B5B5B5 transparent;
	border-width: 1px;
}

#popup-settingsfavourites .switchPopupCustom .fontContentSwitch{
	font-style: italic;
	font-weight: 700;
}
#popup-settingsfavourites .switchPopupCustom .switchContent{
	float: left;
	width: 30%;
}