.table-tournaments{
	width: 100%;
	margin-top: 4px;
	margin-bottom: 8px;
}

.card-header-positionstable{
	background-color: #E1E1E1;
    min-height: 39px;
    font-size: 14px;
}

.table-tournaments tr .th-60-tournaments{
	font-size: 13px;
	width: 60%;
	text-align: left;
}

.table-tournaments tr .th-10-tournaments{
	font-size: 13px;
	width: 10%;
	text-align: center;
}

.table-tournaments tr .th-40-tournaments{
	font-size: 13px;
	width: 40%;
	text-align: left;
}

.table-positionstable tr .th-40-tournaments{
	padding-left: 8px;
}

.td-span-team-pos{
	color: rgb(142, 142, 147);
}

.td-span-team-name{
	padding-left: 5px;
	font-weight: 700;
}

.table-tournaments tr .th-20-tournaments{
	font-size: 13px;
	width: 20%;
	text-align: center;
}

.table-tournaments tr .td-60-tournaments{
	font-size: 13px;
	padding-left: 5px;
	width: 60%;
	text-align: left;
}

.table-tournaments tr .td-10-tournaments{
	font-size: 13px;
	width: 10%;
	text-align: center;
}

.table-tournaments tr .td-30-tournaments{
	font-size: 13px;
	width: 30%;
	text-align: center;
}

.table-tournaments tr .td-35-tournaments{
	font-size: 13px;
	width: 35%;
	text-align: center;
}


.table-tournaments tr .td-40-tournaments{
	font-size: 13px;
	width: 40%;
	text-align: left;
}

.table-tournaments tr .td-40-tournaments-first{
	padding-left: 5px;
}

.table-tournaments tr .td-20-tournaments{
	font-size: 13px;
	width: 20%;
	text-align: center;
}

.table-positionstable {
    border-collapse: collapse;
    margin-bottom: 0px;
    margin-top: 0px;
}

.table-positionstable tr{
    border-bottom: 1px solid #E1E1E1;
}

.table-positionstable tr th{
    height: 25px;
}

.table-positionstable tr td{
    height: 25px;
}

.description-table-tournament {
	color: rgb(142, 142, 147);
	font-size: 12px;
	line-height: 13px;
	text-align: justify;
	padding: 7px;
}