.card-header-fixtures {
    background-color: #E1E1E1;
    min-height: 39px;
    font-size: 14px;
}

#selectFixtureDetails {
    text-align: center;
    border: 0;
    font-size: 20px;
    font-weight: 400;
    white-space: normal;
    line-height: 22px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: transparent url("../../../img/template/icon-down-black.png") no-repeat scroll right 7px;
    background-size: 18px 18px;
    width: 80%;
    padding: 5px;
    padding-bottom: 2px;
}