.card-header-shooterstable{
	background-color: #E1E1E1;
    min-height: 39px;
    font-size: 14px;
}

.table-shooterstable {
    border-collapse: collapse;
    margin-bottom: 0px;
    margin-top: 0px;
}

.table-shooterstable tr{
    border-bottom: 1px solid #E1E1E1;
}

.table-shooterstable tr th{
    height: 25px;
}

.table-shooterstable tr .th-tournaments-first{
	padding-left: 8px;
}

.table-shooterstable tr td{
    height: 25px;
}
