.card-installations{
	margin: 13px 10px;
}

.card-installations {
    box-shadow: none;
}

.card-installations .card-content{
	box-shadow: 0 2px 4px rgba(0,0,0,.4) !important;
}

.imgCardInstallation {
    width: 100px;
    height: 60px;
    font-size: 10px;
}