.card-milestones{
	margin: 13px 10px;
}

.card-milestones {
    box-shadow: none;
}

.card-milestones .card-content{
	box-shadow: 0 2px 4px rgba(0,0,0,.4) !important;
}

.imgCardMilestone {
    width: 90px;
    height: 90px;
}

.content-block-title-milestones{
	text-align: center;
	font-size: 17px;
	margin: 15px 15px 10px;
}
