.card-managers{
	margin: 13px 10px;
}

.card-managers {
    box-shadow: none;
}

.card-managers .card-managers-content{
	box-shadow: 0 2px 4px rgba(0,0,0,.4) !important;
	width: 100%;
	height: 100%;
}

.imgCardManager {
	width: 90px;
	height: 90px;
}

.content-block-title-managers{
	text-align: center;
	font-size: 17px;
	margin: 15px 15px 10px;
}

.card-managers .card-header {
	display: block;
	padding: 10px;
}

.card-managers .manager-avatar {
	float: left;
}

.card-managers .manager-name {
	font-size: 16px;
	font-weight: 700;
	margin-left: 75px;
}

.card-managers .manager-date {
	font-size: 15px;
	color: #6d6d72;
	padding-top: 4px;
	padding-bottom: 4px;
	margin-left: 75px;
}

.card-managers .card-footer {
	background: #fafafa;
}

.card-managers .card-footer a {
	color: #81848b;
	font-weight: 500;
}

.card-managers .card-content img {
	display: block;
	margin-right: 5px;
	width: 65px;
	height: 65px;
}

.card-managers .card-content {
	margin: 5px;
}

.card-managers .card-content-inner {
	padding: 15px 10px;
} 