#containerNameMilestoneDetails {
    text-align: center;
}

#pNameMilestoneDetails {
    color: #000;
    font-size: 16px;
    font-weight: bold;
}

#containerImgHeaderMilestoneDetail{
	text-align: center;
}

#imgHeaderMilestoneDetails {
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    
}

#descriptionMilestoneDetails{
	color: #000;
    text-align: justify;
}