.card-achievements{
	margin: 13px 10px;
}

.card-achievements {
    box-shadow: none;
}

.card-achievements .card-content{
	box-shadow: 0 2px 4px rgba(0,0,0,.4) !important;
}

.imgCardAchievement {
    width: 90px;
    height: 90px;
}

.content-block-title-achievements{
	text-align: center;
	font-size: 17px;
	margin: 15px 15px 10px;
}