@font-face 
{
    font-family: "OpenSansRMA";
    src: url("../fonts/OpenSans-Regular.ttf");   
}

.panel-left{
	color: #FFFFFF;
}

*{
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input
{
	-webkit-user-select: auto !important;
	-khtml-user-select: auto !important;
	-moz-user-select: auto !important;
	-ms-user-select: auto !important;
	user-select: auto !important;
}

.spnHeader
{
	margin-left: 10px;
}

.list-block.media-list .item-title {
    white-space: normal;
    line-height: 22px;
    color: #1A9AD9;
}

.list-block.media-list .item-title-coord{
	color: #000000;
}
.list-block.media-list .item-subtitle {
    white-space: normal;
    line-height: 20px;
}

.list-block.media-list .item-subtitle-link {
    padding-top: 3px;
	padding-bottom: 3px;
}

.list-block.media-list .item-subtitle-link-phone {
    padding-top: 6px;
	padding-bottom: 3px;
}

.list-block.media-list .item-subtitle-link-email {
    padding-top: 3px;
	padding-bottom: 3px;
}

.list-block .item-title.label {
    width: 100%;
    white-space: normal;
}

/*  SHADOW - MODIFIED  */
.content-block {
    /* margin: 0px 1px;
    box-shadow: 1px 5px 8px lightgrey; */
    padding: 5px;
}

i.icon.icon-list-header {
    width: 23px;
    height: 23px;
}

i.icon.icon-form-calendar {
    width: 29px;
    height: 29px;
    background-image: url("../img/template/icon-form-calendar.png");
}

i.icon.icon-form-price {
    width: 29px;
    height: 29px;
    background-image: url("../img/template/icon-form-price.png");
}


i.icon.icon-form-email2 {
    width: 29px;
    height: 29px;
    background-image: url("../img/template/icon-form-email.png");
}

i.icon.icon-form-location {
    width: 29px;
    height: 29px;
    background-image: url("../img/template/icon-form-location.png");
}

i.icon.icon-form-url {
    width: 29px;
    height: 29px;
    background-image: url("../img/template/icon-form-url.png");
}

i.icon.icon-form-phone {
    width: 29px;
    height: 29px;
    background-image: url("../img/template/icon-form-tel.png");
}

i.icon.icon-form-fb {
    width: 29px;
    height: 29px;
    background-image: url("../img/template/icon-form-fb.png");
}

i.icon.icon-form-twitter {
    width: 29px;
    height: 29px;
    background-image: url("../img/template/icon-form-twitter.png");
}

i.icon.icon-form-youtube {
    width: 29px;
    height: 29px;
    background-image: url("../img/template/icon-form-youtube.png");
}

i.icon.icon-form-instagram {
    width: 29px;
    height: 29px;
    background-image: url("../img/template/icon-form-instagram.png");
}

i.icon.icon-share-whatsapp {
    width: 30px;
    height: 30px;
    background-image: url("../img/template/icon-share-whatsapp.png");
    border-radius: 6px;
}

i.icon.icon-share-facebook {
    width: 30px;
    height: 30px;
    background-image: url("../img/template/icon-share-facebook.png");
    border-radius: 6px;
}

/*icono para mostrar en los botones de logueo*/
.icon-share-facebooklogin {
    width: 17px;
    height: 25px;
    background-image: url("../img/template/icon-share-facebooklogin.png");
    border-radius: 6px;
}
.icon-share-googlelogin {
    width: 17px;
    height: 25px;
    background-image: url("../img/template/icon-share-googlelogin.png");
    border-radius: 6px;
}

i.icon.icon-share-twitter {
    width: 30px;
    height: 30px;
    background-image: url("../img/template/icon-share-twitter.png");
    border-radius: 6px;
}

i.icon.icon-share-instagram {
    width: 30px;
    height: 30px;
    background-image: url("../img/template/icon-share-instagram.png");
    border-radius: 6px;
}

i.icon.icon-playstore {
    width: 32px;
    height: 32px;
    background-image: url("../img/icon-playstore.png");
    border-radius: 0px;
    margin-right: 15px !important;
}

i.icon.icon-close {
    font-weight: 900;
}

.content-block-title {
    margin: 20px 15px 10px;
}

.list-block .item-content{ display: flex; }

/* .list-block .item-media{ flex: 1; } */

.list-block .item-inner{ flex: auto; }

.list-block .item-media + .item-inner {
    /* margin-left: 25px; */
}

.list-block.media-list .item-link .item-inner {
    padding-right: 10px;
}

.list-block-about .item-content{
    padding-left: 0px;
}

.list-block-about .item-content a{
    padding-left: 5px;
}


.toolbar-through .page-content {
    padding-bottom: 0px;
}

.card-header-center {
    text-align: center;
    display: block;
}

.publicityBanner{
	width: 100%;
	height: 150px;
}


.list-block .item-subtitle-name {
	color: #6d6d72;
}

.accordion-item-content {
   -webkit-transform: none;
}

.item-list-banner{
	text-align: center;
	margin-bottom: -3px;
}

.item-list-banner .img-list-banner{
	height: 80px;
	width: 100%;
	max-width: 640px;
}

.color-gray { color: #6d6d72; }

.green-white .list-block .item-inner:after, .green-white .list-block ul:after{ background-color: white; }
.green-white .page-content { background-color: white; }
.card.demo-card-header-pic > div[style*="background-image"]{
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px;
    min-height: 150px;
}