.accordion-item-event-livematch .item-title{
	font-size: 14px;
	margin-left: 5px;
}

.accordion-item-event-livematch .item-title .spn-event-livematch-minute{
	color: rgb(142, 142, 147);
	margin-right: 5px;
}

.accordion-item-event-livematch .accordion-item-content{
	font-size: 13px;
}

#icon-refresh-matchdetails{
	display: none;
}

#divMatchDetailsErrorHeader{
	font-size: 20px;
	text-align: center;
}

#divMatchDetailsErrorText{
	padding: 10px 20px 20px;
	text-align: center;
	color: #808080;
}

#divImgMatchDetailsError{
	text-align: center;
}

#imgMatchDetailsUpload{
	height: auto;
	max-width: 120px;
}

.match-img-events {
    height: 20px;
    width: 20px;
}

.matchdetails-events-comments{
    border-bottom: 1px solid grey;
    padding-bottom: 12px;
    text-align: center;
    width: 90%;
    margin: auto;

}

.match-event-timeline-commentary{
    color: gray;
}

.descriptionMatchDetail {
	text-align: justify;
    font-family: "Montserrat-Regular";
    color: #919191;
	margin: 20px;
}

.timeline-sides {
	margin-bottom: 100px;
}