#phoneNumberText {
    font-size: 16px;
    font-weight: bold;
}

#otherLogin {
    display:none;
}

#otherlogin-buttonGoogle {
    padding: 10px;
    width: 80%;
    margin: auto;
}

#otherlogin-buttonFacebook {
    padding: 10px;
    width: 80%;
    margin: auto;
}

#otherlogin-buttonEmail {
    padding: 10px;
    width: 80%;
    margin: auto;
}


/*logueo del inicio*/

#otherLoginInicio {
    /*display:none;*/
}

#otherlogin-buttonGoogleInicio {
    padding: 10px;
    width: 80%;
    margin: auto;
}

#otherlogin-buttonFacebookInicio {
    padding: 10px;
    width: 80%;
    margin: auto;
}

#otherlogin-buttonEmailInicio {
    padding: 10px;
    width: 80%;
    margin: auto;
}