#tabHomeDetails1 {
    /*padding-top: 0px;
	padding-bottom: 0px;*/
    margin-top: 0px;
    margin-bottom: 0px;
    /* background-image: url("../../img/club/background.png");
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
	background-attachment: fixed; */
    /*background-position: center center;
    background-size: cover;*/
    background-color: #FCFCFC;
}

#backgroundHomeShield {
    width: 100%;
    overflow: hidden;
}

#content-block-favourites-home {
    padding: 40px 25px 30px;
}

#page-home #divExistConnectionHome .content-block-title-home-fav {
    overflow: hidden;
    align-items: center;
}

#page-home #divExistConnectionHome .content-block-title-home-fav #lblFavoritesHome {
    float: left;
    line-height: 28px;
    width: 80%;
    padding-left: 10%;
}

#page-home #divExistConnectionHome .content-block-title-home-fav #iconHeaderFavouritesHome {
    float: right;
    display: none;
    width: 10%;
}

.animation-preloader {
    -webkit-animation: preloader-spin 1s steps(12, end) infinite;
    animation: preloader-spin 1s steps(12, end) infinite;
}


.row-home-page .col-50 {
    height: 110px;
    text-align: center;
    padding: 3px;
    color: #FFFFFF;
    width: calc((100% - 50px*1)/ 2);
}

.text-row-home-page {
    color: white;
    width: 100%;
    margin: 0 auto;
    /*background: RGBA(0, 0, 0, 0.78) none repeat scroll 0% 0%;*/
    min-height: 36px;
    text-align: center;
}

.row-home-page .col-50 .p-sport-fav-first {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
}

.row-home-page-1 {
    margin-bottom: 15px;
}

.list-block.list-block-home .item-content {
    padding-left: 7.5px;
    font-family: "Montserrat-Semibold";
    font-size: 12px;
    color: #585858;
}

.list-block.media-list .item-text .item-date {
    color: #6d6d72;
    margin-right: 4px;
    font-size: 14px;
}

.list-block .item-text .item-shortContent {
    color: #000000;
    font-size: 14px;
}

#divNoConnectionHome {
    display: none;
    padding-top: 10%;
    text-align: center;
}

#divExistConnectionHome {
    display: block;
    margin-top: 104px;
}

.imgNoConnection {
    height: auto;
    max-width: 200px;
}

.divNoConnectionHeader {
    font-size: 20px;
    text-align: center;
    padding-top: 13px;
    color: #808080;
}

.divNoConnectionText {
    padding: 8px 0px 0px;
    text-align: center;
    color: #808080;
}

.img-sport-fav {
    width: 65px;
    height: 65px;
    font-size: 10px;
}

.p-sport-fav-first {
    margin: 0px;
    text-shadow: 1px 1px #303030;
}

.p-sport-fav-second {
    margin: 0px;
    font-size: 12px;
    text-shadow: 1px 1px #303030;
}

.list-block {
    margin: 20px 0px;
}

#divImgLastestNewsError {
    text-align: center;
    padding-bottom: 10px;
}

#imgLastestNewsUpload {
    height: auto;
    max-width: 100px;
}

#cardLastestNewsHome {
    box-shadow: none;
    border-radius: 0px;
    margin: 0px;
    background: rgba(255, 255, 255, 0.8);
}

#whiteSpaceHomePublicity {
    width: 100%;
    height: 80px;
}

#cardLastestNewsHome .card-header {
    border-radius: 0px;
    width: 100%;
    text-align: center;
}


#cardLastestNewsHome .card-header #divLastestNewsHome {
    width: 90%;
}

#divLastestNewsHome {
    /*font-weight: 900;
    font-size: 15px;
    color: #1A9AD9;
    text-align: center;
    width: 100%;*/
    font-weight: 900;
    font-size: 20px;
    /*color: #1A9AD9;*/
    color: #585858;
    text-align: center;
    /* width: 100%; */
    /*border-bottom: thin solid white;*/
    margin: 0 10px;
    background-color: white;
    font-family: "Montserrat-Regular";
    font-size: 18px;
}

#lastNewsHeader {
    /* background: white; */
    /* padding: 1px 1px 1px 1px; */
    min-height: initial !important;
    padding: 0px !important;
}

#lastNewsHeader::after {
    height: 0px !important;
}

.content-block-title-home-fav {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.32);
    margin: 20px 15px 10px;
    font-weight: 900;
    font-size: 15px;
    color: #1A9AD9;
    text-align: center;
}

/*FOOTER BANNER PUBLICITARIO*/
#footer.toolbar {
    background-color: transparent;
    height: 80px;
    text-align: center;
    display: none;
}

#footer img {
    /* box-shadow: 0 0 18px 10px #888888; */
    max-height: 80px;
    min-height: 80px;
    max-width: 624px;
    width: 100%;
    height: auto;
}

#footer.toolbar::before {
    height: 0;
}


/*sucesos del home

.card-header-home{
	display: block !important;
	text-align: center;
	color: #1A9AD9;
	font-size: 16px;

    min-height: 44px;
    position: relative;
    padding: 10px 15px;
    box-sizing: border-box;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}*/

#timeLineView .timeline-item {
    /* padding: 5px !important; */
    padding: 0 !important;
    margin: 2px 0 15px;
    box-shadow: 0 0 14px #ececec !important;
}

#timeLineView .card {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.0);
}

.card-event-home {
    /* box-shadow: none;*/
    margin: 0 !important;
    width: 100%;
    box-shadow: 0 0 14px #ececec !important;
}

.card-event-home-content {
    /*box-shadow: 0 2px 4px rgba(0,0,0,.4) !important;*/
    width: 100%;
    height: 100%;
}

.cardHomeRow {
    width: 100%;
}

.chipHomeContainer {
    width: 100%;
    overflow: hidden;
}

.chipHomeDate {
    float: left;
    width: 45%;
    margin-left: 10px;
}

.chipHomeTags {
    float: right;
    margin-right: 10px;
    width: 48%;
}

.chipHomeTagsLeft {
    float: left;
    margin-left: 5%;
}

.chipHomePublisherLabel {
    margin-left: auto;
    margin-right: auto;
}

.chipHomeDateLabel {
    margin-left: auto;
    margin-right: auto;
}

.chipHomeDateLabel a, .chipHomeCategoryLabel a {
    color: white !important;
}

.cardNewsImageContainer {
    width: 45%;
}

.cardNewsImage {
    width: 100%;
    height: 100%;
}

.cardNewsInfo {
    width: 55%;
}

.cardNewsContainerInfo {
    padding-bottom: 5px;
}

.icon-date-home {
    width: 16px;
    height: 16px;
    background-image: url(../../img/template/icon-date-event.png);
    border-radius: 3px;
}

.icon-home-tiposuceso {
    width: 16px;
    height: 16px;
    background-image: url(../../img/template/icon-sports.png);
    border-radius: 3px;
}

#calendarTypeView {
    padding: 0 20px;
    margin-top: 105px;
}

.tr-body-home {
    font-size: 13px;
    width: 10%;
}

.tr-body-home td-10-tournament td-8-tournament {
    text-align: center;
}

.td-50-tournaments-more {
    padding-left: 15px;
}

/***timeline view***/
#cardHomeTimeLine {
    width: 100%;
    padding-bottom: 10px;
}

/***calendar view***/
.noEventsCalendarMsg {
    font-text: 20px;
    text-align: center;
    margin-top: 20px;
}

.aEventDetails {
    margin-bottom: 15px;
}

#page-home {
    background-color: #FCFCFC !important;
}

#selectTypeView {
    color: #585858;
    width: 100%;
    font-size: 19px;
    background: transparent url("../../img/template/icon-down.png") no-repeat scroll right;
    background-size: 10px 11px;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #F6F6F6;
    border: 0;
    background-position: 95% center;
    font-family: "Montserrat-Regular";
    font-size: 16px;
    /** the native arrow dissapears **/
    -webkit-appearance: none;
}

.calendar-input-select {
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
    padding-left: 32%;
}

/***timeline view***/

#row-lastmatch-tournament-calendar {
    width: 100%;
    padding: 7px;
    margin-right: 11px;
}

#row-lastmatch-tournament-calendar .col-lastmatch-tournament .col-lastmatch-tournament-team {
    padding-bottom: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 11px;
    font-weight: 700;
}

#row-lastmatch-tournament-calendar .col-lastmatch-tournament-middle {
    margin-top: 7px;
    margin-left: 7px;
}

#row-lastmatch-tournament-calendar .col-lastmatch-tournament .col-lastmatch-tournament-nametournament {
    font-size: 10px;
    margin-left: 6px;
}

#row-lastmatch-tournament-calendar .col-lastmatch-tournament .col-lastmatch-tournament-name {
    font-size: 10px;
    font-weight: 700;
    text-align: center;
    margin-left: 5px;
}

#row-lastmatch-tournament-calendar .col-lastmatch-tournament .col-lastmatch-tournament-result {
    border: 3px solid rgb(0, 0, 0);
    color: #FFFFFF;
    margin-left: 9px;
}

#row-lastmatch-tournament-calendar .col-lastmatch-tournament .col-lastmatch-tournament-result p {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
}

#row-lastmatch-tournament-calendar .col-lastmatch-tournament .col-lastmatch-tournament-date {
    font-size: 10px;
    text-align: center;
}

#row-lastmatch-tournament-calendar .col-lastmatch-tournament .col-lastmatch-tournament-team {
    padding-bottom: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 11px;
    font-weight: 700;
    width: 130%;
}

/* SUCESOS*/

/* SUCESO FECHA TORNEO */

.card .tournament-matches {
    /* border: 11px solid #e6e6e6; */
    box-shadow: 0 0 8px #d8d8d8 !important;
    border-radius: 4px !important;
    margin: 20px 10px !important;
}

#page-home #cardLastestNewsHome #tournament-matches-header {
    background-color: white;
    display: block;
    min-height: 0 !important;
    padding: 10px 10px 10px 20px !important;
}

.card .tournament-matches-icon {
    float: left;
    margin-left: 5px;
}

.card .img-shield-tournament {
    height: 30px;
    width: 30px;
}

.card .tournament-matches-name {
    text-align: left;
    /* margin-left: 44px; */
    font-size: 14px;
    /* font-weight: 500; */
    font-family: "Montserrat-Regular";
    font-size: 16px;
    color: #585858;
    flex: 4;
}

.card .tournament-matches-division {
    /* margin-left: 44px; */
    /* font-size: 13px; */
    color: #8e8e93;
    text-align: left;
    font-family: "Montserrat-Light";
    font-size: 11px;
    color: #919191;
    flex: 3;
}

.card .tournament-matches-division > div {
    width: 100%;
}

.card .tournament-matches-matchday {
    float: right;
    font-size: 13px;
}

.card .tournament-matches-matchday-live {
    float: right;
    font-size: 11px;
    color: red;
}

.tournament-matches-content .row-tournament-matches {
    margin-top: 13px;
    margin-bottom: 13px;
    /* font-size: 12px; */
    align-items: center;
    padding: 0 15px 15px 15px;
    /* font-family: "Montserrat-Regular";
    color: #585858; */
}

.tournament-matches-content .card-content-inner {
    padding: 0px !important;
}

.card-content .tournament-matches-content .match-scorer {
    text-align: center;
    font-family: "Montserrat-Medium";
    font-size: 14px;
    color: #585858;
    /* background-color: #e6e6e6; */
}

.tournament-matches-footer::before {
    background-color: white !important;
}

.tournament-matches-footer {
    /* background-color: #e6e6e6; */
    font-weight: 500;
    min-height: inherit !important;
    text-align: right;
}

.tournament-matches-footer>a {
    display: inline-block !important;
    min-height: inherit !important;
}

.card-content .img-shield-team {
    height: 35px;
    width: 35px;
}

/*suceso tabla de posiciones de fecha*/

.tournament-father {
    background-color: #dadada;
    color: #585858;
    font-size: 14px;
    /* margin-bottom: 5px; */
    padding: 15px 0;
    font-family: "Montserrat-Semibold";

}

.tournament-father-numbers {
    text-align: center;
}

.tournament-child-numbers {
    text-align: center;
}

.tournament-child {
    margin-bottom: 5px;
    /* border-bottom: solid; */
    border-width: 1px;
    border-color: #e6e6e6;
    padding: 5px !important;
}

.tournament-child .tournament-child-team {
    display: flex !important;
}

.tournament-child .tournament-child-numbers {
    font-family: "Montserrat-Semibold";
    font-size: 12px;
    color: #585858;
    margin: auto;
}

.tournament-father-team {
    text-align: center;
}

.tournament-header-fecha {
    text-align: left;
    font-size: 12px;
    /* font-weight: 300; */
    font-family: "Montserrat-Regular";
    color: #919191;
}

.tournament-header-titulo {
    text-align: left;
    font-size: 16px;
    /* font-weight: 450; */
    font-family: "Montserrat-Regular";
    color: #919191;
}

.demo-card-header-pic {
    border-radius: 15px 15px 0 0;
    margin: 20px 10px !important;
    box-shadow: 0 0 8px #d8d8d8 !important;
}

/*termine suceso posiciones de fecha*/

.card-content .news-content {
    /* border-top: 11px solid #e6e6e6;
    border-left:  11px solid #e6e6e6;
    border-right: 11px solid #e6e6e6; */
}

.chipHomeCategory {
    width: 45%;
    /* position: absolute; */
    bottom: 100px;
    left: 10px;
}

.dateTitleNew {
    font-size: 11px;
}

.card-content-inner .homeCardcontent {
    word-break: break-word;
    margin-top: 7px;
}

/* suceso ultimo partido/partido en vivo */

.match-scorer-lastmatch {
    color: white;
    font-weight: 800;
    border-radius: 100px;
    padding: 5px;
    text-align: center;
    box-shadow: 2px 2px 10px #bbb;
    font-family: "Montserrat-Medium";
    font-size: 14px;
}

.team-lastmatch-left, .team-lastmatch-right {
    font-size: 12px;
    text-align: center;
    font-family: "Montserrat-Regular";
    color: #585858;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

}

/* .team-lastmatch-right {
    font-size: 15px;
    text-align: right;
} */

.card-content .img-shield-lastmatch-fixtures {
    height: 55px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55px;
}

.card-content .img-shield-lastmatch {
    height: 35px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35px;
}

#last-news-list-block .item-link {
    min-height: 0 !important;
}