#titleActivityDetails{
	color: #000000;
	font-size: 16px;
	font-weight: bold;
}

#shortcontentActivityDetails{
	color: #000000;
}

#descriptionActivityDetails{
	color: #000000;
	text-align: justify;
}

.divContainerUpload{
	text-align: center;
}

#divActivityLastNewsErrorHeader{
	font-size: 20px;
	text-align: center;
}

#divActivityCoordinatorsErrorHeader{
	font-size: 20px;
	text-align: center;
}

#divActivityLastNewsErrorText{
	padding: 10px 20px 20px;
	text-align: center;
	color: #808080;
}

#divActivityCoordinatorsErrorText{
	padding: 10px 20px 20px;
	text-align: center;
	color: #808080;
}

.divImgsActivityError{
	text-align: center;
}

.imgActivityUpload{
	height: auto;
	max-width: 120px;
}

.list-block .item-content {
	width: 100%;
}

.imgProfileCoordinator{
	width: 50px;
	height: 50px;
}

#divNewsActivityDetailsErrorHeader{
	font-size: 20px;
	text-align: center;
}

#divNewsActivityDetailsErrorText{
	padding: 10px 20px 20px;
	text-align: center;
	color: #808080;
}

#divImgNewsActivityDetailsError{
	text-align: center;
}

#imgNewsActivityDetailsUpload{
	height: auto;
	max-width: 120px;
}

#noConnection-content-block-activitydetails{
	display: none;
}


/*############################# Style Accordion #############################*/
.custom-accordion {
	padding-left: 0;
	padding-right: 0;
	margin: 10px;
	box-shadow: 0 0px 16px #f1f1f1;
	background-color: rgb(255, 255, 255);
	border-radius: 10px;
}

#spnDescriptionActivityDetails{
	font-family: "Montserrat-Regular";
    color: #585858;
}
.custom-accordion .accordion-item-toggle {
	padding: 13px 10px 15px 15px;
	min-height: 26px;
	height: auto;
	line-height: 24px;
	font-size: 17px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
	cursor: pointer;
}
.custom-accordion .accordion-item-toggle:active {
	background: rgba(0, 0, 0, 0.15);
}
.custom-accordion .accordion-item-toggle span {
	display: inline;
	margin-left: 8px;
}
html[dir="rtl"] .custom-accordion .accordion-item-toggle span {
	margin-left: 0;
	margin-right: 15px;
}
.custom-accordion .accordion-item:last-child .accordion-item-toggle {
	border-bottom: none;
}
.custom-accordion .icon-ks-plus,
.custom-accordion .icon-ks-minus {
	display: inline-block;
	width: 22px;
	height: 22px;
	border: 1px solid;
	border-radius: 100%;
	line-height: 20px;
	text-align: center;
	color: #000000 !important;
	font-size: 22px;
}
.custom-accordion .icon-ks-minus {
	display: none;
	line-height: 18px;
}
.custom-accordion .accordion-item-expanded .icon-ks-minus {
  display: inline-block;
}
.custom-accordion .accordion-item-expanded .icon-ks-plus {
  display: none;
}
.custom-accordion .accordion-item-content {
  padding: 0px 15px;
}
/*############################# End Style Accordion #############################*/

#cardScheduleActivityDetails .card {
	box-shadow: 0 0px 16px #f1f1f1;
	border-radius: 10px;
}

#cardScheduleActivityDetails .card-header {
	font-family: "Montserrat-Regular";
    color: #585858;
}

#contentTabActivityDetails2 .card-content-inner a, #contentTabActivityDetails2 .card-footer a {
	font-family: "Montserrat-regular";
    color: #585858;
}