.gap-20{
	height: 20px;
}

.card-news{
	margin: 13px 10px;
}

.card-news {
    box-shadow: none;
}

.card-news .card-content{
    box-shadow: 0 0 10px #c1c1c1 !important;
    border-radius: 6px;
}

.imgCardNew {
    width: 100px;
    height: 60px;
    font-size: 11px;
}

.list-block.media-list .item-title-new {
    line-height: 21px;
    font-size: 16px;
}

.list-block.media-list .item-category {
    white-space: normal;
    line-height: 15px;
    color: #6d6d72;
}

.list-block .item-category {
    font-size: 12px;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100%;
    text-overflow: ellipsis;
}

.list-block .item-subContent-news{
	line-height: 14px;
	font-size: 13px;
    position: relative;
    overflow: hidden;
    height: 46px;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    margin-top: 2px;
}

.list-block .item-subContent-news .item-shortContent {
    color: #000000;
}

.list-block.media-list .item-subContent-news .item-date {
    color: #6d6d72;
	margin-right: 4px;
}

.divNotEvents {
    padding: 10px 20px 20px;
    text-align: center;
    color: #808080;
}

#divNewsErrorHeader{
	font-size: 20px;
	text-align: center;
}

#divNewsErrorText{
	padding: 10px 20px 20px;
	text-align: center;
	color: #808080;
}

#divImgNewsError{
	text-align: center;
}

#imgNewsUpload{
	height: auto;
	max-width: 120px;
}

#noConnection-content-block-news{
	display: none;
}

#news-content-block{
    overflow: hidden;
}