i.icon.icon-date-event {
    width: 27px;
    height: 27px;
    background-image: url("../../img/template/icon-date-event.png");
    border-radius: 3px;
}

i.icon.icon-hour-event {
    width: 27px;
    height: 27px;
    background-image: url("../../img/template/icon-hour-event.png");
    border-radius: 3px;
}

i.icon.icon-place-event {
    width: 27px;
    height: 27px;
    background-image: url("../../img/template/icon-place-event.png");
    border-radius: 3px;
}

.imgCardEvent{
	width: 100%;
	height: 100%;
}

.card-event {
    box-shadow: none;
}

.card-event .card-event-content{
	box-shadow: 0 2px 4px rgba(0,0,0,.4) !important;
	width: 100%;
	height: 100%;
}

.card-footer-event{
	display: block !important;
	text-align: center;
	color: #1A9AD9;
	font-size: 16px;
}

.card-content-event{
	padding-top: 10px;
	
}

.row-events-page {
  margin-bottom: 15px;
  background: #fff;
  text-align: center;
}

.card-content-event .row-events-page .col-50{
	height: 130px;
}

.table-events-page{
	width: 100%;
	height: 100%;
	color: #000000;
	border-collapse: separate;
	border-spacing: 0 7px;
}

.table-events-page tr{
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
	background-color: #EFEFF4;
}

.table-events-page td{
	text-align: left;
	padding-left: 10px;
	
}

#divEventsErrorHeader{
	font-size: 20px;
	text-align: center;
}

#divEventsErrorText{
	padding: 10px 20px 20px;
	text-align: center;
	color: #808080;
}

#divImgEventsError{
	text-align: center;
}

#imgEventsUpload{
	height: auto;
	max-width: 120px;
}

.aEventDetails{
	width: 100%;
	/* padding: 5px; */
	text-decoration: none;
}

#noConnection-content-block-events{
	display: none;
}