.card-activity{
	-webkit-box-shadow: 0 2px 4px rgba(0,0,0,.4) !important;
}

.card-activity {
    box-shadow: none;
}

#activities-list .card-activity {
	box-shadow: 0 0 0 rgba(0, 0, 0, 0) !important;
}

.card-activity .card-activity-content{
	box-shadow: 0 0 10px #c1c1c1 !important;
    border-radius: 6px;
	width: 100%;
	height: 100%;
}

.card-activity .card-header-photo {
	height: 25vw;
	padding: 0px 15px;
}

.card-activity .card-header-title {
	padding: 5px 15px;
	min-height: 35px;
}

.card-activity .card-content-inner {
    padding: 5px 15px;
}

.card-activity .card-header{
	text-align: center;
	display: block;
}


.imgCardHeaderActivities{
    height: 100%;
    width: auto;
    padding-top: 5px;
}

.divNotActivities{
	padding: 10px 20px 20px;
	text-align: center;
	color: #808080;
}


#divActivitiesErrorHeader{
	font-size: 20px;
	text-align: center;
}

#divActivitiesErrorText{
	padding: 10px 20px 20px;
	text-align: center;
	color: #808080;
}

#divImgActivitiesError{
	text-align: center;
}

#imgActivitiesUpload{
	height: auto;
	max-width: 120px;
}

/* ############################################ Media Queries ######################################## */

@media only screen and (max-width : 320px) 
{
	.imgCardHeaderActivities {
	    max-height: 100px;
		max-width: 100px;
	}
}
@media only screen and (max-width : 360px) 
{
	.imgCardHeaderActivities {
	    max-height: 120px;
		max-width: 120px;
	}
}
@media only screen and (max-width : 480px) 
{
	.imgCardHeaderActivities {
	    max-height: 150px;
		max-width: 150px;
	}
}
@media only screen and (max-width : 768px) 
{
	
}
@media only screen and (max-width : 960px) 
{
	
}