/* CHECKBOXES */

input[type=checkbox] { display:none; } /* to hide the checkbox itself */
input[type=checkbox] + label:before
{
  font-family: FontAwesome;
  display: inline-block;
}

input[type=checkbox] + i.icon.icon-star-cbx { background-image: url("../../img/icon-star-off.png"); } /* unchecked icon */
input[type=checkbox] + label:before { letter-spacing: 10px; } /* space between checkbox and label */

input[type=checkbox]:checked + i.icon.icon-star-cbx { background-image: url("../../img/icon-star-on.png"); } /* checked icon */
input[type=checkbox]:checked + label:before { letter-spacing: 5px; } /* allow space for check mark */

input[type=checkbox] + i.icon.icon-volume-cbx { background-image: url("../../img/icon-volume-off.png"); } /* unchecked icon */
input[type=checkbox] + label:before { letter-spacing: 10px; } /* space between checkbox and label */

input[type=checkbox]:checked + i.icon.icon-volume-cbx { background-image: url("../../img/icon-volume-on.png"); } /* checked icon */
input[type=checkbox]:checked + label:before { letter-spacing: 5px; } /* allow space for check mark */

#page-initsettings label.active-state
{
  -webkit-transition-duration: 0ms;
  transition-duration: 0ms;
  background-color: transparent !important;
}

#page-initsettings
{
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	background-image: url("../../img/club/background-initsettings.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

#page-initsettings .content-block
{
	text-align: center;
	margin: 0px 0px;
	height: 100%;
	color: #33333c !important;
}

#page-initsettings .page-content
{
	padding-bottom: 44px;
}

#list-block-activities-initsettings
{
	margin-bottom: 50px;
	padding-bottom: 50px;
}

#page-initsettings .swiper-button-next, .swiper-button-prev
{
    
    top: 95% !important;
    width: 44px;
    height: 44px;
    -moz-background-size: 44px 44px;
    -webkit-background-size: 44px 44px;
    background-size: 44px 44px;
}

.swiper-container-initsettings
{
	width: 100%;
	height: 100%;
	padding-bottom: 30px;
}
.swiper-slide-initsettings-1
{
	text-align: center;
	/*font-size: 18px;
	background: #fff;*/
	
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.swiper-slide-initsettings-2
{
	text-align: center;
	/*font-size: 18px;
	background: #fff;*/
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

/*SLIDE 0*/

#swiper-container-1
{
	
}


#div-wellcome-initsettings
{
	width: 100%;
	font-size: 44px;
	text-shadow: 1px 1px 5px #FFF, -1px -1px 5px #3E3D3D !important;
}

#div-official-initsettings
{
	width: 100%;
	font-size: 32px;
	margin-bottom: 15px;
}

#div-shield-initsettings
{
	width: 100%;
}

.img-shieldclub-initsettings
{
	height: 230px;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
/*SLIDE 1 - Seleccion deportes y actividades favoritas*/
#div-choosefavs-initsettings
{
	margin-bottom: 10px;
	margin-top: 7px;
	overflow: hidden;
	width: 100%;
}

#div-choosefavs-initsettings-1
{
	text-align: center;
	font-size: 40px;
	line-height: 33px;
}

#div-choosefavs-initsettings-2
{
	float: left;
	width: 30%;
	margin-right: 10%;
	text-align: right;
	font-size: 80px;
	line-height: 72px;
	text-shadow: 1px 1px 5px #FFF, -1px -1px 5px #3E3D3D !important;
}

#div-choosefavs-initsettings-a
{
	float: left;
	width: 60%;
	text-align: left;
	font-size: 30px;
}

#div-choosefavs-initsettings-3
{
	line-height: 34px;
}

#div-choosefavs-initsettings-4
{
	line-height: 34px;
	text-shadow: 1px 1px 5px #FFF, -1px -1px 5px #3E3D3D !important;
}

.swiper-container-vertical
{
    width: 100%;
    height: 80%;
}
.swiper-slide-vertical
{
    height: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.disciplines-list .list-block
{
	margin-top: 3px !important;
}

.disciplines-list .list-block ul
{
	background: rgba(255, 255, 255, 0);
}

.disciplines-list .content-block-title
{
	text-align: left;
	font-size: 11px;
	margin: 15px 10px 0px 30px;
}
.content-block-title.content-block-title-fixed
{
	text-align: left;
	font-size: 11px;
	overflow: inherit;
	margin: 15px 10px 0px 30px;
	color: #33333c;
}

.disciplines-list .content-block-title .content-block-title-80,
.content-block-title-fixed .content-block-title-80
{
	width: 80%;
	float: left;
}

.disciplines-list .content-block-title .content-block-title-85
{
	width: 85%;
	float: left;
}

.disciplines-list .content-block-title .content-block-title-70
{
	width: 70%;
	float: left;
}

.disciplines-list .content-block-title .content-block-title-60
{
	width: 60%;
	float: left;
}

.disciplines-list .content-block-title .content-block-title-20,
.content-block-title-fixed .content-block-title-20
{
	width: 20%;
	float: left;
	text-align: center;
}

#div-header-fixed-initsettings
{
    padding-top: 13px;
    padding-bottom: 5px;
}


.disciplines-list .content-block-title .content-block-title-15
{
	width: 15%;
	float: left;
	text-align: left;
}


.disciplines-list .item-content
{
	padding-left: 0px;
}

.disciplines-list .item-title-2
{
	width: 70%;
	text-align: left;
}

.disciplines-list .item-title-1
{
	width: 85%;
	text-align: left;
}

.disciplines-list .item-title-sport
{
	font-weight: 700;
}

.disciplines-list .item-after-2
{
	width: 30% !important;
}

.disciplines-list .item-after-1
{
	width: 15% !important;
}

.item-media-initsettings
{
	margin-right: 20px;
}

#container-preloader-initsettings
{
	height: 100%;
	padding-top: 65%;
}

#content-block-initsettings
{
	margin: 15px;
}

#div-text-container-slide-initsettings-1
{
	width: 100%;
	font-size: 23px;
	text-align: center;
	margin-bottom: 5px;
	padding-top: 25%;
}

#div-text-container-slide-initsettings-2{
	width: 100%;
	font-size: 16px;
	text-align: center;
	margin-bottom: 15px;
}

#divImgInitSettingsError
{
	text-align: center;
}

#imgInitSettingsUpload
{
    height: auto;
	max-width: 150px;
}

#btn-yes-container-swiper-slide-2
{
	margin: 15px;
	background: #33333C;
	border: 1px solid #33333C;
	color: #FFFFFF;
}

#btn-no-container-swiper-slide-2
{
	margin: 15px;
	border: 1px solid #33333C;
	color: #33333C;
}
/*SLIDE 2*/
#div-container-initsettings-slide2{
	width: 100%;
	font-size: 30px;
	margin-bottom: 20px;
}

#div-container-initsettings-slide2-text2{
	text-shadow: 2px 2px 4px #FFF, -1px -1px 5px #3E3D3D !important;
}

/* Smartphones whit minim screen (portrait) ----------- */
@media only screen and (max-width : 320px) {
	#div-choosefavs-initsettings-1 {
	    font-size: 31px;
	    line-height: 26px;
	}
	
	#div-choosefavs-initsettings-2 {
	    font-size: 65px;
	    line-height: 58px;
	}
	
	#div-choosefavs-initsettings-a {
	    font-size: 26px;
	}
	
	#div-choosefavs-initsettings-3 {
	    line-height: 30px;
	}	
}