
#tabHomeDetails1{
	/*padding-top: 0px;
	padding-bottom: 0px;*/
	margin-top: 0px;
	margin-bottom: 0px;
    /* background-image: url("../../img/club/background.png"); */
    background-color: white;
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
	background-attachment: fixed;
	/*background-position: center center;
	background-size: cover;*/
}

.green-white #tabHomeDetails1{ background-color: white; }


#backgroundHomeShield{
	width: 100%;
	overflow: hidden;
}

#content-block-favourites-home{
	padding: 40px 25px 30px;
}

#page-home #divExistConnectionHome .content-block-title-home-fav 
{
    overflow: hidden;
    align-items: center;
}

#page-home #divExistConnectionHome .content-block-title-home-fav #lblFavoritesHome
{
    float: left;
	line-height: 28px;
	width: 80%;
	padding-left: 10%;
}

#page-home #divExistConnectionHome .content-block-title-home-fav #iconHeaderFavouritesHome
{
	float: right;
	display: none;
	width: 10%;
}

.animation-preloader{
	-webkit-animation: preloader-spin 1s steps(12,end) infinite;
	animation: preloader-spin 1s steps(12,end) infinite;
}


.row-home-page .col-50 {
    height: 110px;
    text-align: center;
	padding: 3px;
	color: #FFFFFF;
	width: calc((100% - 50px*1)/ 2);
}

.text-row-home-page{
	color: white;
	width: 100%;
	margin: 0 auto;
	/*background: RGBA(0, 0, 0, 0.78) none repeat scroll 0% 0%;*/
	min-height: 36px;
	text-align: center;
}

.row-home-page .col-50 .p-sport-fav-first{
	overflow: hidden !important;
	text-overflow: ellipsis !important;
	white-space: nowrap !important;
}

.row-home-page-1 {
  margin-bottom: 15px;
}

.list-block.list-block-home .item-content {
    padding-left: 0px;
    display: block;
}

.list-block.media-list .item-text .item-date {
    color: #6d6d72;
	margin-right: 4px;
	font-size: 14px;
}

.list-block .item-text .item-shortContent {
    color: #000000;
    font-size: 14px;
}

#divNoConnectionHome{
	display: none;
	padding-top: 10%;
	text-align: center;
}

#divExistConnectionHome{
	display: block;
	margin-top: 49px;
}

.imgNoConnection {
    height: auto;
    max-width: 200px;
}

.divNoConnectionHeader {
    font-size: 20px;
    text-align: center;
    padding-top: 13px;
    color: #808080;
}

.divNoConnectionText {
    padding: 8px 0px 0px;
    text-align: center;
    color: #808080;
}

.img-sport-fav{
	width: 65px;
	height: 65px;
	font-size: 10px;
}

.p-sport-fav-first{
	margin:0px;
	text-shadow: 1px 1px #303030;
}

.p-sport-fav-second{
	margin: 0px;
	font-size: 12px;
	text-shadow: 1px 1px #303030;
}

.list-block {
    /* margin: 20px 0px; */
    margin: 0px;
}

#divImgLastestNewsError{
	text-align: center;
	padding-bottom:10px;
}

#imgLastestNewsUpload{
	height: auto;
	max-width: 100px;
}

#cardLastestNewsHome{
	box-shadow: none;
	border-radius: 0px;
	margin: 0px;
	background: rgba(255, 255, 255, 0.8);
}

#whiteSpaceHomePublicity{
	width:100%;
	height:80px;
}

#cardLastestNewsHome .card-header{
	border-radius: 10px;
    /* width: 100%; */
    /* margin: 10px; */
	/* text-align: center; */
}


#cardLastestNewsHome .card-header #divLastestNewsHome{
	width: 90%;
}

.green-white #divLastestNewsHome { color: #585858; background-color: white; height: 44px; }

#divLastestNewsHome {
    /*font-weight: 900;
    font-size: 15px;
    color: #1A9AD9;
    text-align: center;
    width: 100%;*/
    padding: 0px 20px;
    font-weight: 900;
    font-size: 16px;
    /*color: #1A9AD9;*/
    color: white;
    /* text-align: center; */
    width: 100%;
    /*border-bottom: thin solid white;*/
}

#lastNewsHeader{ background: rgba(0, 0, 0, 0.8); padding: 1px 1px 1px 1px; }
.green-white #lastNewsHeader{ background: #00a706; padding: 0px 20px; }

.content-block-title-home-fav {
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.32);
	margin: 20px 15px 10px;
	font-weight: 900;
	font-size: 15px;
	color: #1A9AD9;
	text-align: center;
}

/*FOOTER BANNER PUBLICITARIO*/
#footer.toolbar 
{
    background-color: transparent;
    height: 80px;
    text-align: center;
    display: none;
}

#footer img
{
    /* box-shadow: 0 0 18px 10px #888888; */
    max-height: 80px;
    min-height: 80px;
    max-width: 624px;
    width: 100%;
    height: auto;
}

#footer.toolbar::before 
{
    height: 0;
}


/*sucesos del home

.card-header-home{
	display: block !important;
	text-align: center;
	color: #1A9AD9;
	font-size: 16px;

    min-height: 44px;
    position: relative;
    padding: 10px 15px;
    box-sizing: border-box;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}*/

.card-event-home {
    box-shadow: none;
    margin: 0px;
    /* box-shadow: 0 2px 4px rgba(0,0,0,.4) !important; */
}

.card-event-home-content{
	/*box-shadow: 0 2px 4px rgba(0,0,0,.4) !important;*/
	width: 100%;
	height: 100%;
}

.cardHomeRow{
    width: 100%;
}

.chipHomeContainer{
    width: 100%;
    overflow: hidden;
}

.chipHomeDate{
    float: left;
    width: 45%;
}

.chipHomeTags{ float: right; }
.green-white .chipHomeTags { background-color: rgba(0, 150, 0, 0.5) }
.green-white .chipHomeDate { background-color: transparent; }

.chipHomeContainer i.fa{ font-size: 15px; }

.chipHomeTags{
    margin: 0px;
    padding-left: 10px;
    width: 100%;
}

.chipHomeSportLabel{
    /* margin-left: auto;
    margin-right: auto; */
}

.chipHomeDateLabel{
    /* margin-left: auto;
    margin-right: auto; */
}

.cardNewsImageContainer{
    width: 45%;
}

.cardNewsImage{
    width: 100%;
    height: 100%;
}

.cardNewsInfo{
    width: 55%;
}

.cardNewsContainerInfo {
    padding-bottom: 5px;
}

.icon-date-home {
    width: 16px;
    height: 16px;
    background-image: url(../../img/template/icon-date-event.png);
    border-radius: 3px;
}

.icon-home-tiposuceso {
    width: 16px;
    height: 16px;
    background-image: url(../../img/template/icon-sports.png);
    border-radius: 3px;
}

#calendarTypeView { margin-top: 49px; text-align: center; background-color: #00a706; }
.green-white #calendarTypeView { background-color: white; height: 50px;  }

.tr-body-home {
    font-size: 13px;
    width: 10%;
}
.tr-body-home td-10-tournament td-8-tournament{
    text-align: center;
}

.td-50-tournaments-more {
    padding-left: 15px;
}

/***timeline view***/
#cardHomeTimeLine { /* width: 15em; */ align-items: center; }

/***calendar view***/
.noEventsCalendarMsg {
    font-text: 20px;
    text-align: center;
    margin-top: 20px;
}

.aEventDetails {
    /* margin-bottom: 15px; */
}

/* SHADOW MODIFIED*/
#selectTypeView {
    background-color: #f6f6f6;
    height: 30px;
    border-radius: 15px;
    padding: 0px 10px;
    border: 0;
    color: black;
    width: 70%;
    font-size: 19px;
    /* background: transparent url("../../img/template/icon-down.png") no-repeat scroll right 4px; */
    /* background-size: 20px 20px; */
}

.calendar-input-select {
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
    padding-left: 32%;
}

/***timeline view***/

#row-lastmatch-tournament-calendar{
	width: 100%;
	/* padding: 7px; */
	/* margin-right: 11px; */
}

#row-lastmatch-tournament-calendar .col-lastmatch-tournament .col-lastmatch-tournament-team{
	padding-bottom: 5px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	font-size: 11px;
	font-weight: 700;
}

#row-lastmatch-tournament-calendar .col-lastmatch-tournament-middle{
    margin: auto;
	/* margin-top: 7px;
	margin-left: 7px; */
}

#row-lastmatch-tournament-calendar .col-lastmatch-tournament .col-lastmatch-tournament-nametournament{
	font-size: 10px;
    margin-left: 6px;
}

#row-lastmatch-tournament-calendar .col-lastmatch-tournament .col-lastmatch-tournament-name{
    font-size: 10px;
    font-weight: 700;
    text-align: center;
    margin-left: 5px;
}

#row-lastmatch-tournament-calendar .col-lastmatch-tournament .col-lastmatch-tournament-result{
	/* border: 3px solid rgb(0, 0, 0); */
    color: #FFFFFF;
    /* background-color: #00a706; */
    /* margin-left: 9px; */
}

#row-lastmatch-tournament-calendar .col-lastmatch-tournament .col-lastmatch-tournament-result p{
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 12px;
	font-weight: 700;
	text-align: center;
}

#row-lastmatch-tournament-calendar .col-lastmatch-tournament .col-lastmatch-tournament-date{
	font-size: 10px;
    text-align: center;
}

#row-lastmatch-tournament-calendar .col-lastmatch-tournament .col-lastmatch-tournament-team{
    padding-bottom: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 11px;
    font-weight: 700;
    width: 130%;
}

/* SUCESOS*/

/* SUCESO FECHA TORNEO */

#page-home #divExistConnectionHome > .card{
    /* border: 11px solid #e6e6e6; */
    padding: 20px;
}
#page-home #cardLastestNewsHome #tournament-matches-header {
    background-color: #e6e6e6;
    display: block;
    border-radius: 0px;
}
.green-white #page-home #cardLastestNewsHome #tournament-matches-header{ background-color: white; margin-bottom: 10px; }

/* .card.tournament-matches{ padding: 10px; } */
/* #positionstable-list { padding: 10px; } */
.card .tournament-matches-icon{
    float:  left;
    margin-left: 5px;
    width: 50px;
    min-height: 50px;
    height: 100%;
}
#tournament-match-prefix { display: flex; }

.card .img-shield-tournament{
    height:  50px;
    width: 50px;
    vertical-align: middle;
}

.card .tournament-matches-name{
    text-align:  left;
    font-size: 14px;
    font-weight: 500;
}
.card .tournament-matches-division{
    font-size: 13px;
    color: #8e8e93;
    text-align:  left;
}
.card .tournament-matches-matchday{
    float:  right;
    font-size: 13px;
    margin-right: 10px;
}

.card .tournament-matches-matchday-live{
    float:  right;
    margin-right: 10px;
    font-size: 13px;
    border-radius: 10px;
    background-color: red;
    color: white;
    padding: 0 10px;
}

/* .tournament-matches-content{ padding: 15px; } */

.tournament-matches-content .row-tournament-matches{
    margin-top: 13px;
    margin-bottom: 13px;
    font-size: 13px;
}

.card-content .tournament-matches-content .match-scorer{
    text-align:  center;
    background-color: #e6e6e6;
}
.green-white .card-content .tournament-matches-content .match-scorer { 
    background-color: white; 
    font-size: 15px; 
    color: gray; 
}

.tournament-matches-footer{ background-color: #e6e6e6; font-weight:  500; }
.green-white .tournament-matches-footer{ background-color: white; font-size: 15px; }

.card-content .img-shield-team {
    height: 20px;
    width: 20px;
}

/*suceso tabla de posiciones de fecha*/

.tournament-father {
    background-color: #00a706;
    color: #FFFFFF;
    font-size: 16px;
    margin-bottom: 5px;
}
.green-white .tournament-father{ background-color: #f6f6f6; color: #585858; }

.tournament-child {
    margin-bottom: 5px;
    border-bottom: solid;
    border-width: 1px;
    border-color: #e6e6e6;

}

.tournament-father-team {
    text-align: center;
}

.tournament-header-fecha {
    text-align: left;
    font-size: 12px;
    font-weight: 300;
}

.tournament-header-titulo {
    line-height: 1.5;
    text-align: left;
    font-size: 16px;
    font-weight: 450;
}

/*termine suceso posiciones de fecha*/

.card-content .news-content {
    margin-bottom: 10px;
    /* box-shadow: 1px 5px 8px lightgrey; */
}

.chipHomeCategory {
    width: 45%;
    position: absolute;
    bottom: 100px;
    left: 0px;
}

.dateTitleNew {
    font-size: 11px;
}

.card-content-inner .homeCardcontent {
    word-break: break-word;
}

/* suceso ultimo partido/En vivo */

.match-scorer-lastmatch {
    background-color: #00a706;
    color: white;
    font-weight: 800;
    border-radius: 15px;
    height: 30px;
    font-size: 14px;
    padding: 5px;
    text-align: center;
}

.team-lastmatch-left {
 font-size: 15px;
 text-align: left;
}
.team-lastmatch-right {
 font-size: 15px;
 text-align: right;
}

.card-content .img-shield-lastmatch-fixtures {
    height: 55px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55px;
}

.card-content .img-shield-lastmatch {
    height: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30px;
}