.panel
{
    background-color: #333333;
}

.activeStateMenu {
    background: rgb(94, 96, 105) !important;
}

.list-block ul#ulListMenu {
    background: rgba(255, 255, 255, 0);
}

.panel .list-block .item-link .item-inner {
    background: transparent none repeat scroll 0% 0%;
    border-bottom: 0px none;
}

.item-inner .item-title {
    color: #828282;
}

i.icon.icon-home {
    width: 22px;
    height: 22px;
    background-image: url("../img/template/icon-home.png");
    border-radius: 0px;
}

i.icon.icon-fantasy {
    width: 22px;
    height: 22px;
    background-image: url("../img/template/icon-fantasy.png");
    border-radius: 0px;
}

i.icon.icon-score {
    width: 22px;
    height: 22px;
    background-image: url("../img/template/icon-score.png");
    border-radius: 0px;
}

i.icon.icon-fixture-home {
    width: 22px;
    height: 22px;
    background-image: url("../img/template/icon-fixture-home.png");
    border-radius: 0px;
}

i.icon.icon-home {
    width: 22px;
    height: 22px;
    background-image: url("../img/template/icon-home.png");
    border-radius: 0px;
}

i.icon.icon-notifications {
    width: 29px;
    height: 29px;
    background-image: url("../img/template/icon-notifications.png");
    border-radius: 0px;
}

i.icon.icon-notifications.icon-notifications-home:after{
    content: attr(data-content);
    position: absolute;
    background: #000000;
    height:1rem;
    top: -3px;
    right:-4px;
    width:1rem;
    text-align: center;
    line-height: 1rem;;
    font-size: 12px;
    font-weight: 700;
    border-radius: 50%;
    color:white;
    border: 1px solid #000000;
}

/*i.icon.icon-settings-favourites-notifications {
    width: 29px;
    height: 29px;
    background-image: url("../img/template/icon-settings-favourites-notifications.png");
    border-radius: 0px;
}*/

#icon-settings-favourites-notifications{
	display: none;
}

i.icon.icon-news {
    width: 22px;
    height: 22px;
    background-image: url("../img/template/icon-news.png");
    border-radius: 0px;
}

i.icon.icon-sports {
    width: 22px;
    height: 22px;
    background-image: url("../img/template/icon-sports.png");
    border-radius: 0px;
}

i.icon.icon-sportDetails {
    width: 22px;
    height: 22px;
    background-image: url("../img/template/icon-sports.png");
    border-radius: 0px;
}

i.icon.icon-sportDetailsFixture {
    width: 22px;
    height: 22px;
    background-image: url("../img/template/icon-sportsFixture.png");
    border-radius: 0px;
}

i.icon.icon-activities {
    width: 22px;
    height: 22px;
    background-image: url("../img/template/icon-activities.png");
    border-radius: 0px;
}

i.icon.icon-activityDetails {
    width: 22px;
    height: 22px;
    background-image: url("../img/template/icon-activities.png");
    border-radius: 0px;
}

i.icon.icon-events {
    width: 22px;
    height: 22px;
    background-image: url("../img/template/icon-events.png");
    border-radius: 0px;
}


i.icon.icon-about {
    width: 22px;
    height: 22px;
    background-image: url("../img/template/icon-about.png");
    border-radius: 0px;
}

i.icon.icon-settings {
    width: 22px;
    height: 22px;
    background-image: url("../img/template/icon-settings.png");
    border-radius: 0px;
}

i.icon.icon-user {
    width: 22px;
    height: 22px;
    background-image: url("../img/template/icon-user.png");
    border-radius: 0px;
}

i.icon.icon-updatefavourites {
    width: 20px;
    height: 20px;
    background-image: url("../img/template/icon-upload-favourites.png");
}

i.icon.icon-version {
    width: 85px;
    height: 35px;
    background-image: url(../img/template/icon-version.png);
    border-radius: 0px;
}

#lblVersionImg {
    text-align: center;
}
#liVersion {
    margin-top: 100px;
    margin-left: 30%;
    font-size: 10px;
    width: 40%;
}

#lblMnuVersion {
    text-align: center;
}

i.icon.icon-refresh-matchdetails {
    width: 29px;
    height: 29px;
    background-image: url("../img/template/icon-refresh.png");
}

i.icon.icon-sharenew {
    width: 29px;
    height: 29px;
    background-image: url("../img/template/icon-share.png");
}

i.icon.icon-positionstable {
    width: 35px;
    height: 35px;
    background-image: url("../img/template/icon-positionstable.png");
    border-radius: 0px;
}

i.icon.icon-fixture {
    width: 35px;
    height: 35px;
    background-image: url("../img/template/icon-fixture.png");
    border-radius: 0px;
}

i.icon.icon-shooters {
    width: 35px;
    height: 35px;
    background-image: url("../img/template/icon-shooters.png");
    border-radius: 0px;
}

.theme-white i.icon-bars,
i.icon-bars.color-white,
i.icon-bars.theme-white{
	background-image: url("../img/template/icon-menu.png");
	width: 18px;
    height: 18px;
}

.theme-white i.icon-back,
i.icon-back.color-white,
i.icon-back.theme-white{
    background-image: url("../img/template/icon-back.png");
    width: 25px;
    height: 20px;
}

i.icon.icon-star-cbx {
    width: 25px;
    height: 25px;
    background-image: url("../img/icon-star-off.png");
    border-radius: 0px;
}

i.icon.icon-star-cbx {
    width: 25px;
    height: 25px;
    background-image: url("../img/icon-star-on.png");
    border-radius: 0px;
}

i.icon.icon-volume-cbx {
    width: 25px;
    height: 25px;
    background-image: url("../img/icon-volume-off.png");
    border-radius: 0px;
}

i.icon.icon-volume-cbx {
    width: 25px;
    height: 25px;
    background-image: url("../img/icon-volume-on.png");
    border-radius: 0px;
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    background-image: url("../img/icon-rigth-dark.png");
    right: 10px;
    left: auto;
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    background-image: url("../img/icon-left-dark.png");
    left: 10px;
    right: auto;
}


.content-block-information{
  margin: 25px;
}

.navbar {
    background: #1A9AD9;
    color: #FFF;
    /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); */
}

.navbar a {
    color: #FFF;
}

.navbar .center{
	white-space: normal;
	line-height: 22px;
}

.navbar-inner-activitydetails .center{
	/*left: 0px !important;*/
}

.navbar-inner-sportdetails .center{
	/*left: 18px !important;*/
}

.photo-browser .navbar{
	border-bottom: medium none;
    background: #1A9AD9;
    color: #FFF;
}

.photo-browser .navbar a{
	color: #FFF;
}

.photo-browser .navbar .center{
	white-space: normal;
	line-height: 22px;
}

.center{
	text-align: center;
}

.imgClubIdentityMenu {
    height: 130px;
    width: auto;
}

.content-block-title-custom {
    margin: 20px 15px 10px;
    font-weight: 900;
    font-size: 15px;
    color: #1A9AD9;
    text-align: center;
}

.preloader-50{
	width: 50px;
	height: 50px;
}

.androidFix_4_1 
{
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0, 0, 0);
}

.divNotLastestNews{
	padding: 10px 20px 20px;
	text-align: center;
}

.divFuntionUndeveloped{
	padding: 10px 20px 20px;
	text-align: center;
}

.noConnection-content-block {
    text-align: center;
    padding-bottom: 5px;
}

.headerErrorImageListScrollEnd{
	
}

.imgErrorListScrollEnd{
	width: 30px;
	height: 30px;
}

.headerErrorListScrollEnd{
	font-size: 13px;
	font-weight: 700;
}

.contentErrorListScrollEnd{
	font-size: 12px;
}

a.item-link{
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0, 0, 0);
}